<% provide(:title, 'About BuyBuySell') %>
<h1>About BuyBuySell</h1>
<p>
   BuyBuySell is a craigslist clone, providing simplistic and beautiful user interfaces, to make it easy to buy or sell items to people in your area!
</p>