<% provide(:title, 'About Me') %>
<h1>About Me</h1>
<p>
   Hey!! I'm Dasun, a Junior EECS (Electrical Engineering Computer Science) major, Mathematics minor, attending University of California, Berkeley.  I love <strong>longboarding</strong>, <strong>snowboarding</strong>, and anything with the concept of a board.  I'm from <strong>Pittsburgh -- the City of Champions</strong>.  Yes, I'm a Pirates fan -- but I also love playing and watching any kind of sports.
</p>
<p>
  Interestingly, I once smashed through a glass window -- just like the hulk -- and had to get <font color="#FF0000"><strong>8 stitches</strong></font> on my wrist... Yah, Glass: 1 - Dasun: 0.
</p>