<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  If you have any questions about our product or service, please feel free to email us at <a href="mailto:contact@buybuysell.org">contact@buybuysell.org</a>.
</p>
