<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  I don't know why you're on this page..
</p>
<p>
  But if you ever need any serious help, please feel free to contact us or any of these hotlines:
  <ul>
    <li>
      <a href='http://www.suicidepreventionlifeline.org/'>Suicide Prevention Lifeline:</a> 1-800-273-8255
    </li>
    <li>
      <a href='http://www.aa.org/'>Alcoholics Anonymous</a>
    </li>
  </ul>
</p>
