<% if signed_in? %>
  <h1>Starred Listings</h1>
  <%= render 'shared/feed' %>
<% else %>

<div class="center">
<iframe width="560" height="315" src="http://www.youtube.com/embed/EuCZarNmPOo" frameborder="0" allowfullscreen></iframe>
</div>
<br />

<div class="btn-group-wrap">
<%= link_to "Sign Up Today", signup_path, class: "btn btn-large btn-primary" %>
</div>
<% end %> 