<% if signed_in? %>
  <h1>Starred Listings</h1>
  <%= render 'shared/feed' %>
<% else %>
<div class="center hero-unit">
  <h1>Welcome to buybuysell.org</h1>
  <h2>
    This is a futuristic, social networking craigslist clone.
  </h2>

  <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
</div>
<% end %> 