<% if @feed_items.any? %>
  <div id="tag_cloud">
    <% tag_cloud current_user.feed.tag_counts, %w[s m l] do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
    <% end %>
  </div>

  <ol class="listings">
    <!-- This causes render to use given partial to render each element in collection -->
    <%= render partial: 'shared/feed_item', collection: @feed_items %>
  </ol>
  <%= will_paginate @feed_items %>
<% end %>