<% @user ||= current_user %>
<div class="stats">
  <a href="<%= stars_user_path(@user) %>">
    <strong id="starred" class="stat">
      <%= @user.followed_listings.count %>
    </strong>
    Starred Listings
  </a>
  <a href="<%= messages_user_path(@user) %>">
    <strong id="messages" class="stat">
      <%= @user.mailbox.inbox.count %>
    </strong>
    Unread Messages
  </a>
</div>