<% @user ||= current_user %>
<div class="stats">
  <a href="<%= root_url %>">
    <strong id="starred" class="stat">
      <%= @user.followed_listings.count + @user.listings.count %>
    </strong>
    Starred Listings
  </a>
  <a href="<%= conversations_path %>">
    <strong id="messages" class="stat">
      <%= @user.mailbox.inbox.count %>
    </strong>
    Unread Messages
  </a>
</div>