<div class="navbar navbar-fixed-bottom visible-phone">
  <div class="navbar-inner">
    <div class="container" style="width:100%;">
      <ul class="nav" style="margin: 0px; width: 100%;">
        <li>
          <div class="utilitybar-icons utilitybar-spacing">
            <%= link_to image_tag("utilitybar/link-mailbox.svg", class: "svg"), conversations_path, class: "utilitybar-link" %>
          </div>
        </li>
        <li>
          <div class="utilitybar-icons utilitybar-spacing" style="margin-left: 25%;">
            <%= link_to image_tag("utilitybar/link-profile.svg", class: "svg"), user_path(current_user), class: "utilitybar-link" %>
          </div>
        </li>
        <li>
          <div class="utilitybar-icons utilitybar-spacing" style="margin-left: 50%;">
            <%= link_to image_tag("utilitybar/link-browse.svg", class: "svg"), listings_path, class: "utilitybar-link" %>
          </div>
        </li>
        <li>
          <div class="utilitybar-icons utilitybar-spacing" style="margin-left: 75%;">
            <%= link_to image_tag("utilitybar/link-listing.svg", class: "svg"), new_listing_path, class: "utilitybar-link" %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>